{% extends "layouts.html" %}
<!-- {% block body %} -->
<!-- <h1 class="text-center my-5">🚗Vehicle Details🚗</h1>
<div class="container">
    <a class="btn mb-3 btn-outline-info" href="{{ url_for('home') }}">Go to Home</a>
    <form action="/" method="POST">
        <div class="mb-3">
            <label class="form-label" for="vehicle">Vehicle</label>
            <input class="form-control" id="vehicle" name="vehicle" placeholder="Vehicle name with model and brand"
                   required type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <input class="form-control" id="price" name="price" placeholder="Price of the vehicle in INR" 
                   required type="text">
        </div>
        <button class="btn mt-3 btn-outline-success" type="submit">Add Vehicle</button>
    </form>
</div>
  -->
<!-- {% endblock%} -->

{% block content %}
    <h1 class="title">{% block title %} Students {% endblock %}</h1>
    <div class="content">
        {% for student in students %}
            <div class="student">
                <p><b>#{{ student.id }}</b></p>
                <b>
                    <p class="name">
                        <a href="{{ url_for('student', student_id=student.id)}}">
                            {{ student.firstname }} {{ student.lastname }}
                        </a>
                    </p>
                </b>
                <p>{{ student.email }}</p>
                <p>{{ student.age }} years old.</p>
                <p>Joined: {{ student.created_at }}</p>
                <div class="bio">
                    <h4>Bio</h4>
                    <p>{{ student.bio }}</p>
                </div>
                <a href="{{ url_for('updateStudent', student_id=student.id) }}">Update Student Record</a>

                <hr>
                <form method="POST"
                        action="{{ url_for('delete', student_id=student.id) }}">
                    <input type="submit" value="Delete Student"
                        onclick="return confirm('Are you sure you want to delete this entry?')">
                </form>
            </hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}

